# 11장 데이터베이스

<div style='font-size:20pt'>- 1.SQLite<div>

-- 파일기반 DBMS, 저메모리, 빠른 처리 속도  
-- 오픈 소스  
-- 별도의 DB서버가 없어도 쉽고 편리하게 사용할 수 있는 Embedded SQL 엔진

-- 기본적으로 파이썬 깔면서 같이 깔려있음.  
    (이번에는 다른 툴을 사용하지 않고 SQLite를 사용해 볼 예정)

In [ ]:
# 설치가 되어 있기때문에 바로 연동만 하면됨.
import sqlite3

In [ ]:
#테이블 생성
def create_table():
    conn = sqlite3.connect('books.db')
    sql = """CREATE TABLE IF NOT EXISTS book
    (title TEXT, published_data TEXT, publisher TEXT, page INTEGER, recommend INTEGER)"""

    cur = conn.cursor()
    cur.execute(sql)
    conn.commit()
    conn.close()
create_table()

In [ ]:
# 데이터 추가
def insert_data():
    conn = sqlite3.connect('books.db')
    cursor = conn.cursor()
    sql = "insert into book values ('Java', '2025-03-04', '부산IT', 500, 10)"
    cursor.execute(sql)
    conn.commit()
    conn.close()
insert_data()

In [ ]:
# 전체 데이터 조회
def select_all():
    conn = sqlite3.connect('books.db')
    cursor = conn.cursor()
    sql = "select * from book"
    cursor.execute(sql)
    books = cursor.fetchall()       # 실행된 SQL 쿼리를 모두 가져오는 메소드
    # 한 행의 데이터를 튜플로 반환하며, 전체 결과는 리스트로 저장
    for book in books:
        print(book)
    conn.close()
select_all()

('Java', '2025-03-04', '부산IT', 500, 10)
('Java', '2025-03-04', '부산IT', 500, 10)
('Java', '2025-03-04', '부산IT', 500, 10)
('Java', '2025-03-04', '부산IT', 500, 10)
('Python', '2025-03-04', '부산IT', 500, 10)

In [ ]:
# 단수행의 데이터 추가(? 활용)
def insert_book2(data):
    conn = sqlite3.connect('books.db')
    cursor = conn.cursor()
    sql = "insert into book values (?, ?, ?, ?, ?)"
    cursor.execute(sql, data)
    conn.commit()
    conn.close()

data = ('Python', '2025-03-04', '부산IT', 500, 10)
insert_book2(data)
select_all()

('Java', '2025-03-04', '부산IT', 500, 10)
('Java', '2025-03-04', '부산IT', 500, 10)
('Java', '2025-03-04', '부산IT', 500, 10)
('Java', '2025-03-04', '부산IT', 500, 10)
('Python', '2025-03-04', '부산IT', 500, 10)

In [ ]:
# 복수행의 데이터 추가하기
def many_insert_book(datas):
    conn = sqlite3.connect('books.db')
    cursor = conn.cursor()
    sql = "insert into book values (?, ?, ?, ?, ?)"
    # 반복문없이 executemany() 메소드를 사용하여 한번에 여러 행의 데이터를 추가 가능
    cursor.executemany(sql, datas)
    conn.commit()
    conn.close()

datas = [('머신러닝', '2024-12-26', '부산IT', 500, 10),
      ('IOT', '2025-01-04', '한빛', 400, 7),
      ('React', '2025-02-28', '골든래빗', 450, 9)]
many_insert_book(datas)
select_all()

('Java', '2025-03-04', '부산IT', 500, 10)
('Java', '2025-03-04', '부산IT', 500, 10)
('Java', '2025-03-04', '부산IT', 500, 10)
('Java', '2025-03-04', '부산IT', 500, 10)
('Python', '2025-03-04', '부산IT', 500, 10)
('머신러닝', '2024-12-26', '부산IT', 500, 10)
('IOT', '2025-01-04', '한빛', 400, 7)
('React', '2025-02-28', '골든래빗', 450, 9)

In [ ]:
# 쿼리 결과에서 1개의 데이터 출력
def one_book():
    conn = sqlite3.connect('books.db')
    cursor = conn.cursor()
    sql = "select * from book"
    cursor.execute(sql)
    book = cursor.fetchone()
    print(book)
    conn.close()
one_book()

('Java', '2025-03-04', '부산IT', 500, 10)

In [ ]:
# 쿼리 결과에서 여러개의 데이터 출력
def some_book(number):
    conn = sqlite3.connect('books.db')
    cursor = conn.cursor()
    sql = "select * from book"
    cursor.execute(sql)
    book = cursor.fetchmany(number)
    print(book)
    conn.close()
some_book(2)

[('Java', '2025-03-04', '부산IT', 500, 10), ('Java', '2025-03-04', '부산IT', 500, 10)]

In [ ]:
# 데이터 조회 (where절 사용해보기)
def search_book(page, recommend):
    conn = sqlite3.connect('books.db')
    cursor = conn.cursor()
    sql = "select * from book where page >= ? and recommend >= ? order by title desc"
    cursor.execute(sql, (page,recommend))
    books = cursor.fetchall()
    for book in books:
        print(book)
    conn.close()
search_book(450, 10)

('머신러닝', '2024-12-26', '부산IT', 500, 10)
('Python', '2025-03-04', '부산IT', 500, 10)
('Java', '2025-03-04', '부산IT', 500, 10)
('Java', '2025-03-04', '부산IT', 500, 10)
('Java', '2025-03-04', '부산IT', 500, 10)
('Java', '2025-03-04', '부산IT', 500, 10)

In [22]:
# 데이터 수정
def update_book(data):
    conn = sqlite3.connect('books.db')
    cursor = conn.cursor()
    sql = "update book set page = ?, recommend = ? where title = ?"
    cursor.execute(sql, data)
    conn.commit()
    conn.close()
data = (300, 6, 'Java')
update_book(data)
select_all()

('Java', '2025-03-04', '부산IT', 300, 6)
('Java', '2025-03-04', '부산IT', 300, 6)
('Java', '2025-03-04', '부산IT', 300, 6)
('Java', '2025-03-04', '부산IT', 300, 6)
('Python', '2025-03-04', '부산IT', 500, 10)
('머신러닝', '2024-12-26', '부산IT', 600, 12)
('IOT', '2025-01-04', '한빛', 400, 7)
('React', '2025-02-28', '골든래빗', 450, 9)

In [ ]:
# 여러 데이터 수정
def update_books(datas):
    conn = sqlite3.connect('books.db')
    cursor = conn.cursor()
    sql = "update book set page = ?, recommend = ? where title = ?"
    cursor.executemany(sql, datas)
    conn.commit()
    conn.close()    

datas = [(550, 11, 'Python'), (350, 6, 'IOT')]
update_books(datas)
select_all()

('Java', '2025-03-04', '부산IT', 300, 6)
('Java', '2025-03-04', '부산IT', 300, 6)
('Java', '2025-03-04', '부산IT', 300, 6)
('Java', '2025-03-04', '부산IT', 300, 6)
('Python', '2025-03-04', '부산IT', 550, 11)
('머신러닝', '2024-12-26', '부산IT', 600, 12)
('IOT', '2025-01-04', '한빛', 350, 6)
('React', '2025-02-28', '골든래빗', 450, 9)

In [24]:
# 데이터 삭제
def delete_book(data):
    conn = sqlite3.connect('books.db')
    cursor = conn.cursor()
    sql = "delete from book where title = ?"
    cursor.execute(sql, (data,))
    conn.commit()
    conn.close()
delete_book('Java')
select_all()

('Python', '2025-03-04', '부산IT', 550, 11)
('머신러닝', '2024-12-26', '부산IT', 600, 12)
('IOT', '2025-01-04', '한빛', 350, 6)
('React', '2025-02-28', '골든래빗', 450, 9)

In [37]:
# 여러 데이터 삭제
def delete_books(datas):
    conn = sqlite3.connect('books.db')
    cursor = conn.cursor()
    sql = "delete from book where title = ?"
    cursor.executemany(sql, datas)
    conn.commit()
    conn.close()

datas = [('React',), ('IOT',)]
delete_books(datas)
select_all()

('Python', '2025-03-04', '부산IT', 550, 11)
('머신러닝', '2024-12-26', '부산IT', 600, 12)

<div style='font-size:20pt'>- 2.SQLite<div>

In [ ]:
# MySQL 라이브러리 설치
! pip install pymysql

Collecting pymysql
  Downloading PyMySQL-1.1.1-py3-none-any.whl.metadata (4.4 kB)
Downloading PyMySQL-1.1.1-py3-none-any.whl (44 kB)
Installing collected packages: pymysql
Successfully installed pymysql-1.1.1

In [ ]:
# MySQL 연동
import pymysql

In [39]:
# pymysql을 이용해 MySQL DB에 연결
conn = pymysql.connect(
    host='localhost',
    user='root',
    password='1234',
    db='pydb',
    charset='utf8')
cursor = conn.cursor() # 커서 생성

In [41]:
print(conn)

<pymysql.connections.Connection object at 0x000001CE7D73FA40>

In [43]:
# 데이터 조회(select)
def select_all():
    conn = pymysql.connect(
        host='localhost',
        user = 'root', 
        password = '1234',
        db = 'pydb',
        charset = 'utf8')
    cursor = conn.cursor()
    sql = "select * from book"
    cursor.execute(sql)
    books = cursor.fetchall()
    for book in books:
        print(book)
    conn.close()
select_all()

(1, 'Java', '한빛', 500, '박경미')
(2, 'Python', '길벗', 300, '이준목')

In [45]:
# 1개 데이터 입력
def insert_data(data):
    conn = pymysql.connect(
        host='localhost',
        user='root',
        password='1234',
        db='pydb',
        charset='utf8')
    cursor = conn.cursor()
    # 변수형과 관계없이 %s로 처리
    sql = "insert into book(title, pub, pages, author) values (%s, %s, %s, %s)"
    cursor.execute(sql, data)
    conn.commit()
    conn.close()

data = ('IOT', '대장', 200, '김기영')
insert_data(data)
select_all()

(1, 'Java', '한빛', 500, '박경미')
(2, 'Python', '길벗', 300, '이준목')
(3, 'PYthon', '한빛', 500, '홍길동')
(4, 'IOT', '대장', 200, '김기영')

In [46]:
# 여러데이터 입력
def insert_datas(datas):
    conn = pymysql.connect(
        host='localhost',
        user='root',
        password='1234',  
        db='pydb',
        charset='utf8')
    cursor = conn.cursor()
    sql = "insert into book(title, pub, pages, author) values (%s, %s, %s, %s)"
    cursor.executemany(sql, datas)
    conn.commit()
    conn.close()

data = [('React', '한빛', 300, '유리'),
        ('Java', '부산IT', 350, '김철수'),
        ('Python', '부산IT', 400, '신짱구')]
insert_datas(data)
select_all()

(1, 'Java', '한빛', 500, '박경미')
(2, 'Python', '길벗', 300, '이준목')
(3, 'PYthon', '한빛', 500, '홍길동')
(4, 'IOT', '대장', 200, '김기영')
(5, 'React', '한빛', 300, '유리')
(6, 'Java', '부산IT', 350, '김철수')
(7, 'Python', '부산IT', 400, '신짱구')

In [48]:
# 데이터 수정
def update_book(data):
    conn = pymysql.connect(
        host='localhost',
        user='root',
        password='1234',
        db='pydb',
        charset='utf8')
    cursor = conn.cursor()
    sql = "update book set pub = %s, pages = %s, author = %s where title = %s"
    cursor.execute(sql, data)
    conn.commit()
    conn.close()

data = ('부산IT', 385, '철수', 'Java')
update_book(data)
select_all()

(1, 'Java', '부산IT', 385, '철수')
(2, 'Python', '길벗', 300, '이준목')
(3, 'PYthon', '한빛', 500, '홍길동')
(4, 'IOT', '대장', 200, '김기영')
(5, 'React', '한빛', 300, '유리')
(6, 'Java', '부산IT', 385, '철수')
(7, 'Python', '부산IT', 400, '신짱구')

In [49]:
# 여러 데이터 수정
def update_books(datas):
    conn = pymysql.connect(
        host='localhost',
        user='root',
        password='1234',
        db='pydb',
        charset='utf8')
    cursor = conn.cursor()
    sql = "update book set pub = %s, pages = %s, author = %s where title = %s"
    cursor.executemany(sql, datas) 
    conn.commit()
    conn.close()

datas = [('메가스터디', 250, '맹구', 'IOT'),
         ('부산IT', 450, '짱구', 'Python')]
update_books(datas)
select_all()

(1, 'Java', '부산IT', 385, '철수')
(2, 'Python', '부산IT', 450, '짱구')
(3, 'PYthon', '한빛', 500, '홍길동')
(4, 'IOT', '메가스터디', 250, '맹구')
(5, 'React', '한빛', 300, '유리')
(6, 'Java', '부산IT', 385, '철수')
(7, 'Python', '부산IT', 450, '짱구')

In [50]:
# 데이터 삭제
def delete_book(data):
    conn = pymysql.connect(
        host='localhost',
        user='root',
        password='1234',
        db='pydb',
        charset='utf8')
    cursor = conn.cursor()
    sql = "delete from book where title = %s"
    cursor.execute(sql, (data,))
    conn.commit()
    conn.close()

delete_book('Java')
select_all()

(2, 'Python', '부산IT', 450, '짱구')
(3, 'PYthon', '한빛', 500, '홍길동')
(4, 'IOT', '메가스터디', 250, '맹구')
(5, 'React', '한빛', 300, '유리')
(7, 'Python', '부산IT', 450, '짱구')

In [ ]:
# 여러 데이터 삭제
def delete_books(datas):
    conn = pymysql.connect(
        host='localhost',
        user='root',
        password='1234',
        db='pydb',
        charset='utf8')
    cursor = conn.cursor()
    sql = "delete from book where title = %s"
    cursor.executemany(sql, datas)
    conn.commit()
    conn.close()

datas = [('React',), 
         ('PYthon',)]
delete_books(datas)
select_all()

(2, 'Python', '부산IT', 450, '짱구')
(4, 'IOT', '메가스터디', 250, '맹구')
(7, 'Python', '부산IT', 450, '짱구')

<div style='font-size:20pt'>- 3.Oracle<div>

-- 오라클은 설치할 때 VSCODE용 'Microsoft C++ Build Tools' 설치가 필요함.

In [6]:
# 라이브러리 설치
! pip install oracledb

Collecting oracledb
  Downloading oracledb-3.0.0-cp312-cp312-win_amd64.whl.metadata (5.6 kB)
Requirement already satisfied: cryptography>=3.2.1 in c:\users\admin\anaconda3\lib\site-packages (from oracledb) (43.0.0)
Requirement already satisfied: cffi>=1.12 in c:\users\admin\anaconda3\lib\site-packages (from cryptography>=3.2.1->oracledb) (1.17.1)
Requirement already satisfied: pycparser in c:\users\admin\anaconda3\lib\site-packages (from cffi>=1.12->cryptography>=3.2.1->oracledb) (2.21)
Downloading oracledb-3.0.0-cp312-cp312-win_amd64.whl (2.1 MB)
   ---------------------------------------- 0.0/2.1 MB ? eta -:--:--
   ---------------------------------------- 2.1/2.1 MB 12.7 MB/s eta 0:00:00
Installing collected packages: oracledb
Successfully installed oracledb-3.0.0

In [12]:
# Oracle 연동
# cx_Oracle 이 oracledb로 변경됨.
import oracledb

def read_data():
    conn = oracledb.connect('scott/tiger@localhost:1521/xe')
    cursor = conn.cursor()
    sql = "select * from emp"
    cursor.execute(sql) 
    rows = cursor.fetchall()
    for row in rows:
        print(row)
    cursor.close()
    conn.close()
read_data()

(7369, 'SMITH', 'CLERK', 7902, datetime.datetime(1980, 12, 17, 0, 0), 800.0, None, 20)
(7499, 'ALLEN', 'SALESMAN', 7698, datetime.datetime(1981, 2, 20, 0, 0), 1600.0, 300.0, 30)
(7521, 'WARD', 'SALESMAN', 7698, datetime.datetime(1981, 2, 22, 0, 0), 1250.0, 500.0, 30)
(7566, 'JONES', 'MANAGER', 7839, datetime.datetime(1981, 4, 2, 0, 0), 2975.0, None, 20)
(7654, 'MARTIN', 'SALESMAN', 7698, datetime.datetime(1981, 9, 28, 0, 0), 1250.0, 1400.0, 30)
(7698, 'BLAKE', 'MANAGER', 7839, datetime.datetime(1981, 5, 1, 0, 0), 2850.0, None, 30)
(7782, 'CLARK', 'MANAGER', 7839, datetime.datetime(1981, 6, 9, 0, 0), 2450.0, None, 10)
(7839, 'KING', 'PRESIDENT', None, datetime.datetime(1981, 11, 17, 0, 0), 5000.0, None, 10)
(7844, 'TURNER', 'SALESMAN', 7698, datetime.datetime(1981, 9, 8, 0, 0), 1500.0, 0.0, 30)
(7900, 'JAMES', 'CLERK', 7698, datetime.datetime(1981, 12, 3, 0, 0), 950.0, None, 30)
(7902, 'FORD', 'ANALYST', 7566, datetime.datetime(1981, 12, 3, 0, 0), 3000.0, None, 20)
(7934, 'MILLER', 'CLERK', 7782, datetime.datetime(1982, 1, 23, 0, 0), 1300.0, None, 10)

In [ ]:
# 추가, 수정, 삭제는 ppt 참고
# %s 나 ? 를 사용하지 않고 :1, :2, :3 등으로 사용하는것 빼고는 동일함.